@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: HelveticaNeue;
    src: url('./assets/fonts/Helvetica-Neue/Helvetica-Neue-Regular.ttf') format('opentype');
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: HelveticaNeueLight;
    src: url('./assets/fonts/Helvetica-Neue/Helvetica-Neue-Light.ttf') format('opentype');
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: HelveticaNeueMedium;
    src: url('./assets/fonts/Helvetica-Neue/Helvetica-Neue-Medium.ttf') format('opentype');
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: HelveticaNeueBold;
    src: url('./assets/fonts/Helvetica-Neue/Helvetica-Neue-Bold.ttf') format('opentype');
    font-style: normal;
    font-display: swap;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  /* background: #050505; */
  color: white;
}

.text-color-light {
  color: #FFFFFF99;
}

.text-color-semilight {
  color: #FFFFFFB2;
  /*70%*/
}

.text-color-semilight-80 {
  color: #FFFFFF80;
}

.hero-back {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}

.hero-top {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 2;
  display: flex;
}

.presale-bg-shadow {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 4px 94px #FFFFFF;
}

.home .feature-box {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.414) 0%, rgba(153, 153, 153, 0.207) 100%);
  border: 1px solid #FFFFFF2B;
  border-radius: 8px;

  transition-timing-function: ease-in;
  transition: 0.2s;
}

.home .feature-box:hover {
  transform: scale(1.05);
  transition-timing-function: ease-in;
  transition: 0.2s;
}

.home .built-on-wrapper {
  padding: 24px;
  gap: 24px;
  border-radius: 24px;

  background: #FFFFFF0D;
  box-shadow: -2px 2px 6px 0px #0000000F;
}

.feature-wrap {
  background-position: top right;
  background-repeat: no-repeat;
}

.roadmap-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: left;
  gap: 60px;
}

.roadmap-num {
  padding: 8px;
  border-radius: 32px;
  display: inline-block;

  font-family: archivo;
  font-size: 25.65px;
  font-weight: 500;
  letter-spacing: -0.01em;
  text-align: center;
  color: #050505;

  background: #FFFFFF;
}

.roadmap-num.green {
  background: #7EFF8B !important;
}

.roadmap-head {
  font-family: achivo;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -1%;
}

.roadmap-head-title-mobile {
  font-family: archivo;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #FFFFFF;

}

.roadmap-head-title {
  font-family: archivo;
  font-size: 48px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #FFFFFF;

}

.roadmap-head .text-sep {
  color: #FFFFFF1A;
  padding: 0px 12px;
}

.roadmap-text {
  font-family: archivo;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #FFFFFF80;
}

.roadmap-text div {
  margin-top: 10px;
}

.roadmap-item-space {
  margin-top: 280px;
}

.btn-1 {
  font-family: archivo;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding: 6px 16px 6px 16px;

  border-radius: 32px;
  white-space: nowrap;
  cursor: pointer;

  background: linear-gradient(106.04deg, #FFFFFF 27.66%, rgba(255, 255, 255, 0.9) 72.34%);
  color: #000000;
}

.btn-1-big {
  font-family: archivo;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  padding: 16px 72px 16px 72px;
}

.btn-1:hover {
  background: linear-gradient(106.04deg, rgba(255, 255, 255, 0.2) 27.66%, rgba(255, 255, 255, 0.18) 72.34%);
}

.btn-1:active {
  background: linear-gradient(106.04deg, #FFFFFF 27.66%, rgba(255, 255, 255, 0.9) 72.34%);
}

.btn-2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  background: #FFFFFF33;
  padding: 12px 20px 12px 20px;
  gap: 10px;
  border-radius: 32px;
  border: 1px solid #FFFFFF1A;
  white-space: nowrap;
  cursor: pointer;
}

.btn-2:hover {
  border: 1px solid #FFFFFF1A;
  background: #FFFFFF05;
  color: #FFFFFF;
}

.btn-2:active {
  border: 1px solid #FFFFFF1A;
  background: #FFFFFF33;
  color: #FFFFFF;
}

.btn-3 {
  font-family: archivo;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #FFFFFF1A;
  padding: 12px 20px 12px 20px;
  gap: 10px;
  border-radius: 32px;
  border: 1px solid #FFFFFF0A;
  white-space: nowrap;
  cursor: pointer;
}

.btn-3:hover {
  border: 1px solid #FFFFFF1A;
  background: #FFFFFF05;
  color: #FFFFFF;
}

.btn-3:active {
  border: 1px solid #FFFFFF1A;
  background: #FFFFFF33;
  color: #FFFFFF;
}

.social-button-group {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(153, 153, 153, 0.1) 100%);
  border: 1px solid #FFFFFF1A;
}

.social-button-group a {
  content: ' ';
}

.social-button-group a:hover {
  filter: drop-shadow(0px 4px 20px #ffffff67);
}

/*********************Pages************************/
.personal .ozak-prediction,
.business .ozak-prediction {
  background: linear-gradient(180deg, #455A45 -12.22%, #131613 49.43%, #090909 88.83%);
}

.depin .frame-left {
  border: 1px solid #FFFFFF0F;
  border-radius: 12px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.07) 100%);
}

.depin .frame-right {
  border-radius: 12px;
  border: 1px solid #FFFFFF0F;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.07) 100%);
}

.presale .join-ozak {
  background: #FFFFFF1A;
  padding: 64px;
  border-radius: 32px;
}

.presale .box-raised {
  padding: 24px 32px 24px 32px;
  gap: 2px;
  border-radius: 16px;
  border: 1px;
  opacity: 0px;

  background: linear-gradient(90deg, rgba(255, 255, 255, 0.13) 0%, rgba(153, 153, 153, 0.13) 100%);
  border: 1px solid #FFFFFF1A;
  backdrop-filter: blur(30px);
}

.presale .box-raised:hover {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.13) 0%, rgba(153, 153, 153, 0.13) 100%);
  border: 1px solid #FFFFFF1A;
  backdrop-filter: blur(100px);
}

/*********************Text-Animation************************/
.terminal-text-hidden {
  opacity: 0;
}

.terminal-text-console-container {
  font-family: archivo;
  font-size: 24px;
  text-align: center;
  height: 200px;
  width: 600px;
}

.terminal-text-console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}

.scramble-text-container {
  font-family: archivo;
  font-size: 24px;
  text-align: center;
  height: 200px;
  width: 600px;
}

.scramble-text-dud {
  color: #757575;
}

.nav-active {
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(61 64 63 / var(--tw-bg-opacity));
}

.nav-sub-menu {
  /* display: none; */
  padding: 10px;
  gap: 0px;
  border-radius: 12px;
  background-color: rgb(61 64 63 / var(--tw-bg-opacity));

  box-shadow: 0px 4px 4px 0px #00000040;
  flex-direction: column;
  position: absolute;
  right: 0%;
  top: 140%;
}

.nav-sub-menu-mobile {
  /* display: none; */
  padding: 10px;
  gap: 0px;
  border-radius: 12px;
  background-color: rgb(61 64 63 / var(--tw-bg-opacity));

  box-shadow: 0px 4px 4px 0px #00000040;
  flex-direction: column;
  position: absolute;
  left: 5%;
  top: 105%;
}

.nav-sub-menu li {
  padding: 0.75rem;
}

.nav-sub-menu li a {
  color: #FFFFFF80;
}

.nav-sub-menu li:hover a {
  color: #ffffff;
}

/* .nav:hover>a {
  --tw-bg-opacity: 1;
  background-color: rgb(61 64 63 / var(--tw-bg-opacity));
  border-radius: 9999px;
} */

.nav-sub-menu.active {
  display: flex !important;
}


.footer-link-header {
  font-family: archivo;
  font-size: 16px;
  font-weight: 400;
  line-height: 17.41px;
  text-align: left;
  color: #FFFFFF80;

  padding: 8px 16px 8px 16px;
}

.footer-link-title {
  font-family: Archivo;
  font-size: 16px;
  font-weight: 400;
  line-height: 17.41px;
  text-align: left;
  color: #ffffff;

  padding: 8px 16px 8px 16px;
}

.personal .feature-box,
.business .feature-box {
  padding: 24px;
  gap: 12px;
  border-radius: 20px;

  border: 2px solid;
  border-image-source: linear-gradient(178.17deg, rgba(255, 255, 255, 0.04) 32.77%, rgba(255, 255, 255, 0) 80.99%);

  background: linear-gradient(156.5deg, rgba(255, 255, 255, 0.12) -11.18%, rgba(255, 255, 255, 0.08) 83.35%);

  transition-timing-function: ease-in;
  transition: 0.2s;
}

.personal .feature-box:hover,
.business .feature-box:hover {
  transform: scale(1.05);
  transition-timing-function: ease-in;
  transition: 0.2s;
}

.progress-container {
  position: absolute;
  right: 10px;
  width: 15px;
  height: 100%;
  background: #222;
  border-radius: 10px;
  margin: auto;
}

.progress-bar {
  width: 15px;
  background: #7FFF8C;
  border-radius: 10px;
}

.progress-bar-tip {
  max-width: 160px;
  position: absolute;
  left: calc(-160px / 2.2);
  margin-top: calc(-159px / 2.5);
}




/* animation  */

.rounded-container {
  width: 100%;
  /* Adjust the size as needed */
  height: 600px;
  /* Adjust the size as needed */
  margin: auto;
  border-radius: 50%;
  /* Makes the container rounded */
  background: url('assets/images/main/common/spread-the-word.svg') no-repeat center center;
  background-size: cover;
  animation: animateBackground 5s linear infinite;
}

@keyframes animateBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


/* animation  */





@media (min-width: 400px) and (max-width: 767px) {
  .home .built-on-wrapper {
    padding: 20px !important;
  }

  .home .built-on-wrapper .built-on-chain {
    max-width: 48% !important;
  }

  .home .social-button-group img {
    max-width: 90% !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {}